
body{
    

    background: radial-gradient(rgb(6, 221, 192),rgb(229, 233, 8));
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif


}

.portfolio{

    font-family:monospace;
    margin: 50px;
    padding: 1px;
    border: 10px ridge rgb(60, 225, 236);

}

.présentations{

    font-family:cursive;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);

}

.présentation{

    font-family:serif;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);

}

.h3{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);
    
    }


.monparcours{

    font-family:cursive;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);

}

.parcoursperso{

    font-family:serif;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);

}

.parcourssoc{

    font-family:serif;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);

}

.parcourspro{

    font-family:serif;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);

}

.mestravaux{

    font-family:cursive;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);

}

.travaux{

    font-family:serif;
    text-align:center;
    margin: 50px;
    padding: 1px;
    border: 5px ridge rgb(60, 225, 236);

}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
